<div class="max-w-md mx-auto my-10 text-white">
    <h2 class="text-3xl font-bold mb-5">Create Product 🛠️</h2>
    <form class="max-w-md mx-auto my-10" [formGroup]="productForm">
        <div class="relative z-0 w-full mb-5 group">
            <input type="name" name="name" id="name"
                class="block w-full py-2.5 px-4 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
                placeholder="Name" formControlName="name" autocomplete="off" />
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="number" name="price" id="price"
                class="block w-full py-2.5 px-4 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
                placeholder="Price" formControlName="price" />
        </div>
        <div class="relative z-0 w-full mb-5 group">
            <input type="number" name="amount" id="amount"
                class="block w-full py-2.5 px-4 text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 focus:outline-none"
                placeholder="Amount" formControlName="amount" />
        </div>
        <button type="submit" (click)="onSubmit()"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Create Product</button>
    </form>
</div>